[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
inflection = "*"
pandas = "*"
wikitextparser = "*"
lxml = "*"
spacy-lookups-data = "*"
pyyaml = "*"
networkx = "*"
sklearn = "*"
rdflib = "*"
nltk = "*"
pynif = "*"
tables = "*"
xgboost = "*"
tqdm = "*"
pytest = "*"
pytest-check = "*"
polyleven = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.spacy]
extras = [ "cuda",]
