[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
inflection = "*"
pandas = "*"
wikitextparser = "*"
lxml = "*"
spacy = "*"
spacy-lookups-data = "*"
pyyaml = "*"
networkx = "*"
sklearn = "*"
rdflib = "*"
nltk = "*"
pynif = "*"
tables = "*"
xgboost = "*"
tqdm = "*"
pytest = "*"
pytest-check = "*"
polyleven = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
tensorboard = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.8"
