/* logo font */
@font-face {
    font-family: DistantStroke;
    src: url(resources/fonts/distant_stroke/Distant_Stroke_Medium.otf);
}

.caligraph-font {
    font-family: DistantStroke, "Playfair Display", Georgia, "Times New Roman", serif;
}

html, body {
    height: 100%;
    position: relative;
}

.main-content {
    min-height: calc(100% - 10rem);
    position: relative;
}

.nav > a {
    padding: 2px;
    text-decoration: none;
}

.nav-active > span {
    border-bottom: solid 1px;
}

.blog-header {
    line-height: 0.4;
    margin-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-size: 4.5rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Contact page
 */

.profile-card {
    margin-top: 1.5rem;
}

.profile-card__intro-text {
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.profile-card__intro-text > a {
    padding: 0 5px;
}

.profile-card .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.profile-card h2 {
    font-weight: 400;
}
.profile-card .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.profile-card a {
    text-decoration: none;
}

/*
 * Footer
 */
.blog-footer {
    position: relative;
    width: 100%;
    padding: 2.5rem 0;
    color: #999;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.footer-logo {
    max-height: 4rem;
    max-width: 100%;
    float: right;
    border: 1px solid #FFFFFF;
    border-radius: .25rem;
}


@media (max-width: 768px) {
    .footer-logo-container {
        display: block;
        text-align: center;
        padding: .95rem;
    }
    .footer-logo {
        float: none;
    }
}